{% extends "base.html" %}

{% load socialaccount %}

{% block title %}
  Login
{% endblock title %}
{% block content %}
  <h1>Log-in</h1>
  <p>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
  </p>
  {% if form.errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
  <form action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <p>
      <input type="submit" value="Log-in" />
    </p>
  </form>
{% endblock content %}
