<div class="mb-3">
  <label class="form-label" for="input">Markdown</label>
  <textarea class="form-control" id="input" name="input" rows="10" placeholder="Paste your markdown code here" required></textarea>
</div>
<div class="mb-3">
  <button class="btn btn-primary" id="convert">Convert</button>
</div>
<div class="mb-3">
  <label class="form-label visually-hidden" for="output">Html</label>
  <textarea class="form-control" id="output" name="output" rows="10" placeholder="Your html should appear here"></textarea>
</div>
<button class="btn btn-primary mb-3" id="copy">Copy</button>
<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
