{% load static %}

<div class="mb-3">
  <label class="form-label" for="input">Text</label>
  <input class="form-control form-control-lg" type="text" id="input" name="input" value="https://oneworld.com" required />
</div>
<div class="mb-3">
  <label class="form-label" for="foreground">Foreground color</label>
  <input class="form-control form-control-color"
         type="color"
         id="foreground"
         name="foreground"
         value="#000000"
         title="Choose your foreground color" />
</div>
<div class="mb-3">
  <label class="form-label" for="background">Background color</label>
  <input class="form-control form-control-color"
         type="color"
         id="background"
         name="background"
         value="#ffffff"
         title="Choose your background color" />
</div>
<div class="mb-3">
  <button class="btn btn-primary" id="generate">Generate</button>
  <button class="btn btn-primary" id="download">Download QR code</button>
</div>
<div class="mb-3" id="output"></div>
<script src="{% static 'js/qrcode.min.js' %}"></script>
