{% load static %}

<div class="input-group mb-3">
  <span class="input-group-text" id="kelvin-addon">Kelvin</span>
  <input type="number"
         class="form-control"
         name="kelvin"
         id="kelvin"
         value="273.15"
         min="0"
         aria-label="Kelvin"
         aria-describedby="kelvin-addon" />
  <span class="input-group-text">K</span>
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="celsius-addon">Celsius</span>
  <input type="number"
         class="form-control"
         name="celsius"
         id="celsius"
         value="0"
         aria-label="Celsius"
         aria-describedby="celsius-addon" />
  <span class="input-group-text">°C</span>
</div>
