{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-core="elegant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Tools Observatory
      {% endblock title %}
    </title>
    <link href="{% static 'css/halfmoon.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/halfmoon.elegant.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% block header %}
      {% include "includes/header.html" %}
    {% endblock header %}
    <div class="container">
      <main>
        {% include "includes/alert.html" %}
        {% block content %}
        {% endblock content %}
      </main>
      {% include "includes/footer.html" %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
